<div class="faq-page-component">
  <div class="faq-container">
    <div class="image">
      <app-image
        imgAlt="FAQ image"
        imgSrc="/assets/img/illustration-woman-online-mobile.svg"
      ></app-image>
    </div>
    <div class="image-bg">
      <app-image imgSrc="/assets/img/bg-pattern-mobile.svg"></app-image>
    </div>
    <div class="content">
      <div class="page-title">
        <app-text-title text="faq"></app-text-title>
      </div>
      <div class="faqs">
        <app-faq-component *ngFor="let item of FAQList" [faq]="item" class="item" ></app-faq-component>
      </div>
    </div>
  </div>
</div>
